.header, .hero, .body, .bar, .footer{
	background-color: black;
	margin: 10px 0;
}
.container{
	background-color:#b8b8b8 ;
}
.box{
	background-color: darkred;
	min-height: 70px;
	font-size: 30px;
	color: white;
	text-align: center;
	margin: 10px 0;

}
.white{
	background-color: white;
	color: black;
}